{% extends "D:/Cultural__Code/Cultural_Expression/app_funcionalidad/templates/app_funcionalidad/base_usu.html" %}

{% load static %}


{% block titulo-document %}

Inicio

{% endblock %}



{% block alias %} Maritza Ospina {% endblock %}




{% block contenido-post %}


<div class="contenido-posteado contenido-post">

  <div class="row">
    <div class="col-1 col-lg-auto mt-4">
      <a href="#">

        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
        
      </a>
    </div>


    <div class="col-sm-10 col-lg-9 separador-contenido-postea">
      <div class="post mt-4">

        <a href="#" class="nombre">
          Daniel
        </a>
        <p class="fecha">
          05/10/2024
        </p>
        
        <div class="border-info-producto">

          <p class="nombre-producto"></p>
          <p class="descripcion">Gente vendo hermosa moto Kawasaki ninja modelo 2023 con 1.590 de kilometraje, los papeles al día hasta el 1 de diciembre del 2024, esta en excelente estado. Interesados escribir al privado.</p>

          <h3><strong>Precio</strong></h3>
          <p class="precio">$35.990.000</p>
          
          <img src="img/posteo_producto_1.png" class="img-fluid" alt="...">

        </div>
        
        <div class="iconos-reaccion">
          <div class="heart-btn">
            <div class="content">
              <span class="heart"></span>
            </div> 

            </div>
                  
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="comentario bi-chat-right" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
              </svg>
            </a>
                    
          </div>

        </div>
      </div>
              
    </div>
    
    
    <div class="row">
      <div class="col-1 col-lg-auto mt-4">
        <a href="#">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>                  </svg>
            </i>
        </a>
      </div>
        
        
      <div class="col-sm-10 col-lg-9 separador-contenido-postea">
        <div class="post mt-4">

          <a href="#" class="nombre">Santiago</a>
          <p class="fecha">06/09/2024</p>

          <div class="border-info-publicacion">
            <p class="titulo"></p>
            <p class="descripcion">Disfrutando con los míos parchados en el barrio</p>

            <img src="img/posteo_publicacion_1.jpg" class="img-fluid" alt="...">
          </div>
            

          <div class="iconos-reaccion">
              
            <div class="heart-btn">
              <div class="content">
                <span class="heart"></span>
              </div> 
            </div>
                  
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="comentario bi-chat-right" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
              </svg>
            </a>
                    
          </div>

        </div>
      </div>
            
    </div>

  </div>
</div>


{% endblock %}