

.fondo{
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
    background-size:cover;
    font-family: pompiere;
}

.user{
    width: 170px;
    height: 170px;
    margin-left: -70px;
}

.h3{
    margin-left: -50px;
}


.icono-x{
    position: absolute;
    top: 25px;
    right: 25px;
}

main .contenido_general{
    border: 3px solid #fff;
}

main .contenido{
    border: 2px solid #000;
    background-color: #fff;
}

.eliminar-post{
    color: #FF1500;
}

.eliminar-post:hover{
    color: #000;
}

/*Modales*/

  
.linea-vertical{
    border-left: 1px solid #000;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
}


.contenido-P{
    background-color: #00c3ff;
    width: 950px;
    height: 250PX;
    margin-left: 160px;
    border: 2px solid #000;
    background: #fff;
    
}
  
.detalles{
    font-weight: 900;
    font-size: 35px;
}


header p{
    font-size: 25px;
}

.salir{
    font-size: 34px;
}

.publicaciones{
    background-color: #fff;
    border: 2px solid #000;
}

.texto4{
    font-size: 25px;

}

.secundario{
    border: 2px solid #000;
}

.colunma{
    background: #F0DAFB;
}

main p{
    font-size: 21px;
    font-weight: 600;

}



/* Estilos footer*/

.bienvenidos{
    background: linear-gradient(to right,#933E2B,8%,#FF1500, #933E2B);
}
  
.icono-footer{
    width: 130px;
}
  
.cultural{
    width: 170px;
    height: 170px;
}
  
.info{
    font-size: 26px;
    font-family: pompiere;
}
  
.footer-enlace{
    color: #000;
    text-decoration: none;
}
  
.footer-enlace:hover{
    color: #fff;
    text-decoration: none;
}
    
.Siguenos{
    margin-bottom: 0%;
    font-family: pompiere;
    font-size: 26px;
}
  
.text-reservado{
    background: #000;
    color: #fff;
    font-family: pompiere,sans-serif;
    font-size: 24px;
}
  
.bi-facebook{
    color: #2430d3;
    width: 40px; 
    height: 40px;
}
  
.bi-facebook:hover{
    color: #cc2df4;
    width: 50px;
}
  
.bi-instagram{
    color: #f80f8f;
    width: 40px; 
    height: 40px;
}
  
.bi-instagram:hover{
    color: #cc2df4;
    width: 50px;
}
  
.bi-envelope-at-fill{
    color: #00c3ff;
    width: 40px; 
    height: 40px;
}
  
.bi-envelope-at-fill:hover{
    color: #cc2df4;
    width: 50px;
}