<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenedor de Likes</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="likes.css">
    <img src="publi.png" alt="">
</head>
<body>
    <div class="like-container">
        <button id="like-button">❤️</button>
        <span id="like-count">0</span>
    </div>
    <script src="script.js"></script>
    <script src="likes.js"></script>
</body>
</html>